{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Presdio</title>
        <link
          rel="shortcut icon"
          type="image/png"
          href="{%  static 'src/assets/images/logos/favicon.png' %}"
        />
        <link
          rel="stylesheet"
          href="{%  static 'src/assets/css/styles.min.css' %}"
        />
      </head>
</head>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{% static 'src/index.html' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img
                    src="{%  static 'src/assets/images/logos/presdio.png' %}"
                    width="250"
                    alt=""
                  />
                </a>
                
                <form action="" method="POST" enctype="multipart/form-data">
                  <div class="mb-4">
                              {% csrf_token %}
                              {{ form }}
                  </div>
                 <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">
                   <a>Daftar</a>
                 </button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'loginPage' %}">login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
